.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #007DCD;
  padding: 1rem;
}

.header > nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.header > nav a {
  margin: 0 0.5rem;
}

.first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 2rem;
}

.first h1 {
  color: #008D3B;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.first p {
  font-size: 1.1rem;
  margin-bottom: 10rem;
}

.first .buttons {
  display: flex;
  align-items: center;
}

.first .buttons button {
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.first .buttons .info {
  background: #008D3B;
}

.first .buttons .video {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  color: #000;
}

.first .buttons .video img {
  margin-right: 10px;
}

.first .image {
  text-align: center;
}
